<div class="container-fluid">
  <form class="form-vertical" id="formRoom">
    <fieldset>
      {{#with room}}
      <div class="row form-group col-sm-24">
        {{#if RECNO}}
        <input type="hidden" id="inputOldRoomId" name="inputOldRoomId" value="{{ ROOMID.value }}">
        <input type="hidden" id="inputOldRecNo" name="inputOldRecNo" value="{{ RECNO.value }}">
        {{else}}
        <input type="hidden" id="inputOldRoomId" name="inputOldRoomId" value="">
        <input type="hidden" id="inputOldRecNo" name="inputOldRecNo" value="">
        {{/if}}
      </div>

      <div class="row form-group col-sm-24" >
        <button type="button" id="btnsave" class="btn btn-success btn-lg" onclick="clickSave()">
          <span class="glyphicon glyphicon-floppy-save" ></span>Save</button>
        {{#if RECNO}}
        <button type="button" id="btnDelete" class="btn btn-danger btn-lg" onclick="clickDelete('{{RECNO.value}}')"
          style="visibility:visible;" >
        {{else}}
        <button type="button" id="btnDelete" class="btn btn-danger btn-lg" onclick="clickDelete('')"
          style="visibility:hidden;" >
        {{/if}}
          <span class="glyphicon glyphicon-minus-sign" ></span>Delete</button>
      </div>

      <div  class="row form-group" id="divRoomId">
        <label for="room" class="col-sm-4 control-label">Room:</label>
        <div class="col-sm-10">
          {{#if RECNO}}
          <input id="inputRoomId" type="text" name="inputRoomId" maxlength="11" value="{{ ROOMID.value }}" class="form-control input-sm"
          required onblur="alreadyExistsRoomId()">
          {{else}}
          <input id="inputRoomId" type="text" name="inputRoomId" maxlength="11" value="" class="form-control input-sm"
          required onblur="alreadyExistsRoomId()">
          {{/if}}
        </div>
        <div class="help-block with-errors col-sm-10">
          <span id="errRoomId" class="text-danger"></span>
        </div>
      </div>

      <div  class="row form-group" id="divRoomColor">
        <label for="room" class="col-sm-4 control-label">Color:</label>
        <div class="col-sm-10">
          <!-- <input id="inputRoomColor" name="inputRoomColor"> -->
          <input type="color" id="inputRoomColor" onchange="clickColor()" class="form-control">
        </div>
        <div class="col-sm-10">
          <span id="errRoomColor" class="text-danger"></span>
        </div>
      </div>
      {{/with}}
    </fieldset>
  </form>
</div>
